html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 50vh;
}

main {
  display: grid;
  width: 50vh;
  font-size: 10px;
  grid-template-rows: 3% 25% 15% 20% 20% 30%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "status status"
  "face face"
  "name name"
  "occupation occupation"
  "offer offer"
  "call msg";
}
#status {
  text-align: right;
  font-size: 10px;
  color: #d3d0d0;
  grid-area: status
}
#face{
  border-radius: 50%;
  height: 90px;
  justify-self: center;
  grid-area: face;
  border: #79f3a4 5px solid;

}
#name {
  justify-self: center;
  justify-content: center;
  grid-area: name;
}
#brand {
  display: none;
}
#occupation {
  background-color: #d3d0d0;
  text-align: center;
  font-size: 12px;
  grid-area: occupation

}
#offer {
  justify-self: center;
  font-size: 12px;
  grid-area: offer;
}
#contact{
  display: flex;
  height: 65px;
  width: 50vh;
  margin: 0;
}

#contact > p {
  height: 60px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 

#contact > p:first-child {
  background-color: #79f3a4;
  grid-area: call;
}

#contact > p:last-child {
  background-color:#5bbb7d;
  grid-area: msg;
}



@media only screen and (min-width: 768px) {
  main {
    display: grid;
    font-size: 12px;
    background-color: #d3d0d0;
    grid-template-rows: 3% 15% 25% 20% 20% 30%;
    grid-template-columns: 20% 40%;
    grid-template-areas: 
    "status status"
    "empty name"
    "face occupation"
    "face brand"
    "contact offer"
  }
  #status {
    text-align: left;
    grid-area: status;
  }
  #face {
    grid-area: face;
    size: fill;
    background-color: white;
    justify-items: center;
  }
  #name {
    grid-area: name;
    background-color: #d3d0d0;
  }
  #brand {
    grid-area: brand;
    display: grid;
    text-align: left;
    background-color: #d3d0d0;
  }
  #occupation {
    grid-area: occupation;
    background-color: #d3d0d0;
  }
  #offer {
    grid-area: offer;
    background-color:#d3d0d0;
    justify-content: center;
    padding: 0;
  }
  #contact {
    grid-area: contact;
    width: auto;
    background-color: white;
  }
}
